html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}

.main {
  width: 70%;
  margin: 20% auto;
}

.main h1 {
  text-align: center;
}

.main h3 {
  text-align: center;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 80px;
}

.surveyHeading {
  font-size: 16px;
  font-weight: bold;
  margin: 30px 0px;
}

span.metric {
  position: absolute;
  left: 30%;
  font-size: 72px;
  top: 39%;
  color: #31E14E;
}

div.tile {
  border: solid #ddd 1px;
  border-radius: 7px;
}

div.tile:hover {
  background-color: #F8F8F8;
}

div.gridTitle {
  position: relative;
  top: 90%;
  background-color: #EEE;
  text-align: center;
  padding: 5px;
  font-size: 16px;
  color: black;
}

div.iconInfo {
  position: relative;
  left: 100%;
  top: -12%;
  transform: scale(1.3,1.3);
}

div.iconInfo:hover {
  cursor: pointer;
}

