html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}

div.error404 {
  text-align: center;
}

#app {
  width: 100%;
  margin: 30px auto;
}

.app {
  width: 100%;
  margin: 0 auto;
}

.main {
  width: 70%;
  margin: 0 auto;
}

.main h1 {
  text-align: center;
}

.main h3 {
  text-align: center;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 80px;
}

.surveyHeading {
  font-size: 16px;
  font-weight: bold;
  margin: 30px 0px;
}

span.metric {
  position: absolute;
  left: 30%;
  font-size: 72px;
  top: 39%;
  color: #31E14E;
}

div.investmentView {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

div.tile {
  border: solid #ddd 1px;
  border-radius: 7px;
}

div.tile:hover {
  background-color: #F8F8F8;
}

div.gridTitle {
  position: relative;
  top: 90%;
  background-color: #EEE;
  text-align: center;
  padding: 5px;
  font-size: 16px;
  color: black;
}

div.iconInfo {
  position: relative;
  left: 100%;
  top: -12%;
  transform: scale(1.3,1.3);
}

div.iconInfo:hover {
  cursor: pointer;
}

#chart {
  margin-bottom: 70px;
  height: 400px;
  width: 1000px;
  text-align: center;
}

#chart h1 {
  margin-bottom: 30px;
}

g.highcharts-series-3 path.highcharts-tracker {
  height: 100px;
  width: 100px;
  stroke: orange;
  stroke-width: 20px;
}

g.highcharts-legend g.highcharts-legend-item:last-of-type {
 stroke: orange;
 stroke-width: 1px; 
}

/*
  From Spinkit
 */
div.sk-circle {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  .sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  .sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
            animation: sk-circleBounceDelay 1.2s infinite ease-in-out both; }
  .sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg); }
  .sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg); }
  .sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
  .sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg); }
  .sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg); }
  .sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg); }
  .sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg); }
  .sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg); }
  .sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); }
  .sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); }
  .sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; }
  .sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }
  .sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }
  .sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }
  .sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; }
  .sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; }
  .sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; }
  .sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s; }
  .sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s; }
  .sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s; }
  .sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }


